<form #form="ngForm" [formGroup]="form_update" (ngSubmit)="onSubmit(form_update.value,form_update.valid)">

    <div class="form-row">
        <div class="form-group col-md-12">
            <label class="form-label" for="attu_rut"><H5>RUT</H5></label>
            <input type="text" class="form-control" placeholder="RUT" id="attu_rut" formControlName="rut">
        </div>
        <div class="form-group col-md-12">
            <label class="form-label" for="attu_bussiness_name"><H5>Razon Social</H5></label>
            <input type="text" class="form-control" placeholder="Razon Social" id="attu_bussiness_name" formControlName="bussiness_name">
        </div>
        <div class="form-group col-md-12">
            <label class="form-label" for="attu_bussiness"><H5>Giro</H5></label>
            <input type="text" class="form-control" placeholder="Giro" id="attu_bussiness" formControlName="bussiness">
        </div>
        <div class="form-group col-md-12">
            <label class="form-label" for="attu_bussiness_code"><H5>Acteco</H5></label>
            <input type="text" class="form-control" placeholder="Acteco" id="attu_bussiness_code" formControlName="bussiness_code">
        </div>
        <div class="form-group col-md-12">
            <label class="form-label" for="attu_address"><H5>Direccion</H5></label>
            <input type="text" class="form-control" placeholder="Direccion" id="attu_address" formControlName="address">
        </div>
        <div class="form-group col-md-12">
            <label class="form-label" for="attu_commune"><H5>Comuna</H5></label>
            <input type="text" class="form-control" placeholder="Comuna" id="attu_commune" formControlName="commune">
        </div>
        <div class="form-group col-md-12">
            <label class="form-label" for="attu_city"><H5>Ciudad</H5></label>
            <input type="text" class="form-control" placeholder="Ciudad" id="attu_city" formControlName="city">
        </div>
        <div class="form-actions col-md-12">
            <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="!form_update.valid">{{'Actualizar'}}</button>
        </div>
        
    </div>

</form>