#label_extra {
    
    font-weight: bold;
    padding: 10px;
}

#attr_client_ppassport{
    width: 20px; 
    height: 20px;
    font-weight: bold;
    line-height: 3em;
    color: #ccc;
    border-radius:10px solid #ddd;
    margin-top: 20px;
    margin-right: 10px;
}